{% extends 'baseAdmin.html' %}

{% block header %}
	<div class="content">
		<h1>{% block title %}New subcategory{% endblock %}</h1>
	</div>
{% endblock %}

{% block content %}
	<form method="post">
		<label for="category">Category</label>
		<select name="category" id="category">
			<option value="paraphernalia">Paraphernalia</option>
			<option value="jewelry">Jewelry</option>
			<option value="gallery">Gallery</option>
		</select>

		<label for="sub_category">Subcategory</label>
		<input type="text" id="sub_category" name="sub_category">

		<input type="submit" name="Save">
	</form>
{% endblock %}